
.App {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-use-select: none;
  user-select: none;
}
.nav {
  background-color: rgb(63, 75, 81);
  display: flex;
  padding-left: 30px;
  color: white;
}
/* div {
  box-sizing: border-box;
} */

.list {
  padding-left: 20px;
  text-align: left;
  border-bottom: 1px solid grey;
}
.like {
cursor: pointer;
margin-left: 90%;
margin-bottom: 0px;
}

.modal {
  margin-top: 20px;
  padding: 20px;
  background-color: rgb(209, 203, 194);
  text-align: left;
}